@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Tomorrow&family=VT323&display=swap');

:root {
  --sans-serif: 'Tomorrow', sans-serif;
  --serif: 'Almendra', serif;
  --monospace: 'VT323', monospace;

  --primary: rgb(0, 0, 80);
  --primary-dark: rgba(0, 0, 80, var(--opacity-dark));
  --primary-light: rgba(0, 0, 80, var(--opacity-light));
}

body {
  --body-color: var(--white);
  --body-background-color: var(--black);
}

a {
  --link-color: var(--green);
}

.navbar {
  --navbar-background-color: var(--black-dark);
}

.menu {
  --menu-child-background-color: var(--primary-dark);
  --menu-checked-child-color: var(--primary);
  --menu-child-hover-color: var(--primary);
}

.table {
  --table-odd-hover-background-color: var(--primary);
  --table-even-hover-background-color: var(--primary);
}

.foot {
  --foot-list-background-color: var(--blue-dark);
}
