@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Tomorrow&family=VT323&display=swap');

:root {
  --sans-serif: 'Tomorrow', sans-serif;
  --serif: 'Almendra', serif;
  --monospace: 'VT323', monospace;

  --secondary: var(--yellow);
  --secondary-dark: var(--yellow-dark);
  --secondary-light: var(--yellow-light);
}

body {
  --body-color: var(--white);
  --body-background-color: var(--black);
}

.navbar {
  --navbar-background-color: var(--black-dark);
}

.form {
  --form-background-color: var(--white-light);
}
