{% extends 'layout/layout.twig' %}

{% block title %}Constellations{% endblock %}

{% block description %}Gallery of Current Constellations{% endblock %}

{% block main %}
    <main class="container-90sm-80md-70lg-60wd">

        <input id="menu-radio1" class="menu-radio1" type="radio" name="menu">
        <input id="menu-radio2" class="menu-radio2" type="radio" name="menu" checked>
        <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

        <nav class="menu">
            <label for="menu-radio1" title="Show Grid & Fluid Classes">
                IAU
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-radio2" title="Show Flex Classes">
                Constellations
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-radio3" title="Show Place Classes">
                License
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
        </nav>

        <article class="menu-relay">
            <header class="menu-target1 container-90sm-80md-70lg-60wd pad-md mar-bot-lg bg-white color-navy bord-rounded">
                <h2>IAU & Eugène Delporte</h2>

                <p>
                    Originally,
                    <a href="https://en.wikipedia.org/wiki/Constellation"
                       class="font-bold"
                       rel="noreferrer noopener" target="_blank"
                       title="Constellation's Wikipedia Page">
                       the constellations
                    </a>
                    were informally defined by the shapes created by their star patterns,
                    but as the pace of celestial discovery accelerated in the early 20th century,
                    astronomers decided it would be useful to have an official set of constellation limits.
                    One reason was to help name new variable stars,
                    which light up and fade rather than constantly shine.
                    These stars are named after the constellation in which they reside,
                    so it's important to agree on the end of one constellation and the start of the next.
                </p>
                <p>
                    <a href="https://en.wikipedia.org/wiki/Eug%C3%A8ne_Joseph_Delporte"
                       class="font-bold"
                       rel="noreferrer noopener" target="_blank"
                       title="Author's Wikipedia Page">
                       Eugène Delporte
                    </a>
                    originally listed
                    <a href="https://en.wikipedia.org/wiki/IAU_designated_constellations"
                       class="font-bold"
                       rel="noreferrer noopener" target="_blank"
                       title="IAU Designated Constellation's Wikipedia Page">
                       the 88 modern constellations
                    </a>
                    on behalf of the IAU Commission 3 (Astronomical Notations),
                    in Délimitation scientifique des constellations. (Delporte, 1930)
                </p>

                <figure>
                    <img class="bord-navy bord-curve bord-sm" src="img/delporte.png" alt="QR Code of the Book" title="Use a QR Code reader with your Smartphone to Go to the Book !">
                    <figcaption>
                        <a href="https://books.google.fr/books?id=v3XvAAAAMAAJ"
                           class="btn-navy"
                           rel="noreferrer noopener" target="_blank"
                           title="Clic to Go to the Book">
                            Délimitation Scientifique des Constellations
                        </a>
                    </figcaption>
                </figure>
            </header>

            <section class="menu-target2">
                <h3>The 88 Modern Constellations</h3>

                <figure>
                    <img class="bord-navy bord-curve bord-sm"
                         src="img/legend.gif"
                         alt="Legend of the Constellations Maps">
                </figure>

                <ul class="fluid-2sm-3lg-4wd">
                    {% for constellation in constellations %}
                        <li>
                            <a class="cursor-cross" href="{{ url('constellation!read', {'id': constellation.id}) }}" title="Clic to Watch">
                                <figure class="button-navy">
                                    <img src="img/thumbnails/tn_{{ constellation.name }}.jpg"
                                         alt="Chart of {{ constellation.name }}">
                                    <figcaption>
                                        {{ constellation.name|replace({'-': ' '})|title }}
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <footer class="menu-target3 mar-bot-lg">
                <h4>License</h4>

                <p>
                    This 88 charts were produced in collaboration with
                    <a href="https://skyandtelescope.org"
                       class="font-bold"
                       rel="noreferrer noopener" target="_blank"
                       title="Watch the Magazine">
                        Sky & Telescope
                    </a>
                    magazine (Roger Sinnott & Rick Fienberg).
                    Alan MacRobert's constellation patterns,
                    drawn in green in the charts,
                    were influenced by those of H. A. Rey
                    but in many cases were adjusted to preserve earlier traditions.
                    The images are released under the
                    <a href="https://creativecommons.org/licenses/by/3.0/"
                       class="font-bold"
                       rel="noreferrer noopener" target="_blank"
                       title="Watch the License">
                        Creative Commons Attribution 3.0 Unported license.
                    </a>
                </p>
                <p>The only modification made was removing the logos...</p>
                <p>
                    You can find the original sources here
                    <i class="fas fa-arrow-right" aria-hidden="true"></i>
                    <a href="https://www.iau.org/public/themes/constellations"
                       class="button-navy"
                       rel="noreferrer noopener" target="_blank"
                       title="Watch the IAU Page">
                        IAU
                    </a>
                </p>
            </footer>
        </article>
    </main>
{% endblock %}
