{% extends 'layout/layout.twig' %}

{% block title %}Constellations{% endblock %}

{% block description %}Gallery of the 88 Modern Constellations{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu" 
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="The 88 Modern Constellations">
        <i class="far fa-star"></i>
        <span>
            Constellations
        </span>
    </label>
    <label for="menu-radio2" 
        title="IAU, Eugène Delporte & License">
        <i class="far fa-id-badge"></i>
        <span>
            IAU & License
        </span>
    </label>
</nav>

<main class="menu-relay">
    <section class="menu-target1">
        <h2>The 88 Modern Constellations</h2>

        <figure>
            <img class="bord-blue bord-curve bord-sm"
                    src="img/legend.gif"
                    alt="Legend of the Constellations Maps">
        </figure>

        <ul class="grid-2sm-3md-4lg-5xl-6wd">

            {% for constellation in constellations %}
                <li>
                    <a class="cursor-cross button-blue" 
                        href="{{ url('constellation!read', {'id': constellation.id}) }}" 
                        title="Clic to Watch">
                        <figure class="button-navy">
                            <img src="img/thumbnails/tn_{{ constellation.name }}.jpg"
                                alt="Chart of {{ constellation.name }}">
                            <figcaption>
                                {{ constellation.name|replace({'-': ' '})|title }}
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </section>

    <section class="menu-target2">
        <header class="head">
            Originally,
            <a href="https://en.wikipedia.org/wiki/Constellation"
            class="font-bold"
            title="Constellation's Wikipedia Page">
                the constellations
            </a>
            were informally defined by the shapes created by their star patterns,
            but as the pace of celestial discovery accelerated in the early 20th century,
            astronomers decided it would be useful to have an official set of constellation limits.
            One reason was to help name new variable stars,
            which light up and fade rather than constantly shine.
            These stars are named after the constellation in which they reside,
            so it's important to agree on the end of one constellation and the start of the next.
        </header>

        <section class="container-90sm-80md-70lg-60xl-50wd">
            <h2>IAU & Eugène Delporte</h2>

            <p>
                <a href="https://en.wikipedia.org/wiki/Eug%C3%A8ne_Joseph_Delporte"
                class="button-gray"
                title="Author's Wikipedia Page">
                    Eugène Delporte
                </a>
                originally listed
                <a href="https://en.wikipedia.org/wiki/IAU_designated_constellations"
                class="button-gray"
                title="IAU Designated Constellation's Wikipedia Page">
                    the 88 modern constellations
                </a>
                on behalf of the IAU Commission 3 (Astronomical Notations),
                in Délimitation scientifique des constellations. (Delporte, 1930)
            </p>

            <figure>
                <img class="bord-navy bord-curve bord-sm" 
                    src="img/delporte.png" 
                    alt="QR Code of the Book" 
                    title="Use a QR Code reader with your Smartphone to Go to the Book !">
                <figcaption>
                    <a href="https://books.google.fr/books?id=v3XvAAAAMAAJ"
                    class="button-blue"
                    title="Clic to Go to the Book">
                        Délimitation Scientifique des Constellations
                    </a>
                </figcaption>
            </figure>
        </section>

        <section class="mar-bot-lg container-90sm-80md-70lg-60xl-50wd">
            <h2>License</h2>

            <p>
                This 88 charts were produced in collaboration with
                <a href="https://skyandtelescope.org"
                    class="button-gray"
                    title="Watch the Magazine">
                    Sky & Telescope
                </a>
                magazine (Roger Sinnott & Rick Fienberg).
                Alan MacRobert's constellation patterns,
                drawn in green in the charts,
                were influenced by those of H. A. Rey
                but in many cases were adjusted to preserve earlier traditions.
                The images are released under the
                <a href="https://creativecommons.org/licenses/by/3.0/"
                    class="button-gray"
                    title="Watch the License">
                    Creative Commons Attribution 3.0 Unported license.
                </a>
            </p>
            <p>The only modification made was removing the logos...</p>
            <p>
                You can find the original sources here
                <i class="fas fa-arrow-right" aria-hidden="true"></i>
                <a href="https://www.iau.org/public/themes/constellations"
                    class="button-blue"
                    title="Watch the IAU Page">
                    IAU
                </a>
            </p>
        </section>
    </section>
</main>
{% endblock %}
