{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu"
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">
<input id="menu-radio4" 
    class="menu-radio4" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="Show Constellations">
        <i class="far fa-star"></i>
        <span>
            Constellation
        </span>
    </label>
    <label for="menu-radio2" 
        title="Show Atlases">
        <i class="fas fa-atlas"></i>
        <span>
            Atlas
        </span>
    </label>
    <label for="menu-radio3" 
        title="Show Maps">
        <i class="far fa-map "></i>
        <span>
            Map
        </span>
    </label>
    <label for="menu-radio4" 
        title="Show the User">
        <i class="fas fa-user-ninja"></i>
        <span>
            User
        </span>
    </label>
</nav>

<main class="menu-relay container-90lg-80xl-70wd">

    {{ include("back/adminConstellations.twig") }}
    {{ include("back/adminAtlases.twig") }}
    {{ include("back/adminMaps.twig") }}
    {{ include("back/adminUsers.twig") }}

</main>
{% endblock %}
