<article class="menu-target1">
    <h2>Interactive Sky Atlas</h2>

    <ul class="row placo-evenly">
        <li>
            <input id="DSS" type="radio" name="survey" value="P/DSS2/color">
            <label for="DSS">DSS color</label>
        </li>
        <li>
            <input id="DSS-blue" type="radio" name="survey" value="P/DSS2/blue">
            <label for="DSS-blue">DSS blue</label>
        </li>
        <li>
            <input id="2MASS" type="radio" name="survey" value="P/2MASS/color">
            <label for="2MASS">2MASS</label>
        </li>
        <li>
            <input id="allwise" type="radio" name="survey" value="P/allWISE/color">
            <label for="allwise">AllWISE</label>
        </li>
    </ul>

    <figure class="mar-none mar-bot-lg">
        <figure class="slider" id="aladin"></figure>
        <figcaption class="font-monospace">
            Aladin Sky Atlas, developed at
            <strong>CDS</strong>,
            <em>Strasbourg Observatory</em>,
            France
        </figcaption>
    </figure>
</article>
