{% extends 'layout/layout.twig' %}

{% block title %}Celestial Atlases{% endblock %}

{% block description %}
    Aladin Interactive Sky Atlas API,
    colorful sky maps covering a period of almost a thousand years,
    as well as Wikipedia links for some atlases and authors.
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js"></script>

    <script>
        var aladin = A.aladin("#aladin", {
            survey: "P/DSS2/color",
            fov: 0.5,
            target: "M1",
            cooFrame: "galactic",
            reticleColor: "#00ff00",
            reticleSize: 30,
            showShareControl: true,
            showSimbadPointerControl: true
        });

        $("input[name=survey]").change(function() {
            aladin.setImageSurvey($(this).val());
        });
    </script>
{% endblock %}

{% block main %}
<input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
<input id="menu-radio2" class="menu-radio2" type="radio" name="menu">

<nav class="menu">
    <label class="button-red btn-lg" for="menu-radio1" title="Interactive Sky Atlas">
        Aladin
    </label>
    <label class="button-blue btn-lg" for="menu-radio2" title="Celestial Atlases Collections">
        Collections
    </label>
</nav>

<main class="menu-relay container-90sm-80lg">
    {{ include('atlas/aladin.twig') }}
    {{ include('atlas/atlasCollections.twig') }}
</main>
{% endblock %}
