{% extends "layout/layout.twig" %}

{% block title %}Mars{% endblock %}

{% block description %}Mars Photos from Aladin & Rovers{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css">
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>

    <script>
        var aladin = A.aladin("#aladin", {
            target: "240 +10.65",
            cooFrame: "j2000d",
            fov: 180,
            showFrame: false,
            showLayersControl: false,
            showGotoControl: false
        });

        var mars = aladin.createImageSurvey(
            "Mars",
            "Mars",
            "https://alasky.u-strasbg.fr/Planets/Mars_Viking_MDIM21/",
            "j2000",
            5,
            {
                longitudeReversed: true
            });
        
        aladin.setImageSurvey(mars);

        var canvas = document.createElement("canvas");
        canvas.width = canvas.height = 11;

        var context = canvas.getContext("2d");
        context.beginPath();
        context.arc(5, 5, 4, 0, 2 * Math.PI, false);
        context.closePath();
        context.strokeStyle = "#ccc";
        context.lineWidth = 2;
        context.stroke();

        var geoFeatures = A.catalog({
            shape: canvas,
            labelColumn: "name",
            displayLabel: true,
            labelColor: "#fff",
            labelFont: "14px sans-serif"
        });

        aladin.addCatalog(geoFeatures);

        geoFeatures.addSources(A.source(226.2, 18.65, {name: "Olympus Mons"}));
        geoFeatures.addSources(A.source(70.5, -42.4, {name: "Hellas Planitia"}));
        geoFeatures.addSources(A.source(250.4, 40.5, {name: "Alba Mons"}));
        geoFeatures.addSources(A.source(-59.2, -13.9, {name: "Valles Marineris"}));
        geoFeatures.addSources(A.source(147.21, 25.02, {name: "Elysium Mons"}));
        geoFeatures.addSources(A.source(316.0, -49.7, {name: "Argyre Basin"}));
        geoFeatures.addSources(A.source(32.53, 70, {name: "Vastitas Borealis"}));
        geoFeatures.addSources(A.source(-112.58, 1.57, {name: "Tharsis Montes"}));
        geoFeatures.addSources(A.source(298, 25, {name: "Outflow channels"}));
        geoFeatures.addSources(A.source(30, 19.79, {name: "Arabia Terra"}));
        geoFeatures.addSources(A.source(70.5, -42.4, {name: "Hellas Basin"}));
        geoFeatures.addSources(A.source(280, 45, {name: "Tempe Terra"}));
        geoFeatures.addSources(A.source(87, 12.9, {name: "Isidis Basin"}));
        geoFeatures.addSources(A.source(117.5, 46.7, {name: "Utopia Basin"}));
        geoFeatures.addSources(A.source(350, -45, {name: "Noachis Terra"}));
    </script>
{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red" for="menu-radio1" title="Watch Mars from Aladin">
            <i class="far fa-map color-red-into"></i>
            <span class="color-red-into">Map</span>
        </label>
        <label class="button-green" for="menu-radio2" title="Mars Rovers Photos">
            <i class="far fa-image color-green-into"></i>
            <span class="color-green-into">Photos</span>
        </label>
        <label class="button-tw" for="menu-radio3" title="Curiosity Rover Tweets">
            <i class="fab fa-twitter color-tw-into"></i>
            <span class="color-tw-into">Tweets</span>
        </label>
    </nav>

    <main class="menu-relay container-90sm-80lg mar-bot-lg">
        <article class="menu-target1">
            <h2>Mars Interactive Map</h2>

            <figure class="slider" id="aladin"></figure>
        </article>

        {{ include("mars/marsRovers.twig") }}

        <article class="menu-target3">
            <h2>Mars Tweets</h2>

            <ul class="row">
                <li>
                    <a class="twitter-timeline"
                       href="https://twitter.com/MarsCuriosity"
                       data-theme="dark"
                       data-width="300">
                        Tweets by @MarsCuriosity
                    </a>
                </li>
                <li>
                    <a class="twitter-timeline"
                       href="https://twitter.com/NASAMars"
                       data-theme="dark"
                       data-width="300">
                        Tweets by @NASAMars
                    </a>
                </li>
                <li>
                    <a class="twitter-timeline"
                       href="https://twitter.com/NASAPersevere"
                       data-theme="dark"
                       data-width="300">
                        Tweets by @NASAPersevere
                    </a>
                </li>
            </ul>
        </article>
    </main>
{% endblock %}
