{% extends 'layout/layout.twig' %}

{% block title %}Nasa{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action="{{ url('nasa') }}">
        <fieldset>
            <ul>
                <li>
                    <input id="search" 
                        name="search" 
                        type="text"
                        placeholder="Type the research you want !">
                </li>
                <li>
                    <input type="submit" 
                        value="Search">
                </li>
            </ul>
        </fieldset>
    </form>
    <ul class="grid-2lg-4wd">

        {% for item in items %}
            <li>
                <figure>
                    <img src="{{ item["links"][0]["href"] }}" 
                        alt="#">
                    <figcaption>
                        {{ item["data"][0]["description"]|slice(0, 100) }}...
                    </figcaption>
                </figure>   
            </li>             
        {% endfor %}

    </ul>
</main>
{% endblock %}
