<footer class="foot">
    <ul>
        <li>
            <h3>Packages</h3>
            <ul>
                <li>
                    <a href="https://www.npmjs.com/package/animadio" rel="noreferrer noopener" target="_blank">Animadio CSS</a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/animadio.js" rel="noreferrer noopener" target="_blank">Animadio JS</a>
                </li>
                <li>
                    <a href="https://packagist.org/packages/philippebeck/pam" rel="noreferrer noopener" target="_blank">Pam</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Websites</h3>
            <ul>
                <li>
                    <a href="https://animadio.org" rel="noreferrer noopener" target="_blank">Animadio</a>
                </li>
                <li>
                    <a href="https://astrology.philippebeck.net" rel="noreferrer noopener" target="_blank">Astrology</a>
                </li>
                <li>
                    <a href="https://astronomy.philippebeck.net" rel="noreferrer noopener" target="_blank">Astronomy</a>
                </li>
                <li>
                    <a href="https://pam.philippebeck.net" rel="noreferrer noopener" target="_blank">Pam</a>
                </li>
                <li>
                    <a href="https://philippebeck.net" rel="noreferrer noopener" target="_blank">Portfolio</a>
                </li>
                <li>
                    <a href="https://webagency.philippebeck.net" rel="noreferrer noopener" target="_blank">WebAgency</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>Organization</h3>
            <ul>
                <li>
                    <a href="https://codepen.io/animadio" rel="noreferrer noopener" target="_blank">CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/animadio" rel="noreferrer noopener" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/animadio" rel="noreferrer noopener" target="_blank">Twitter</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <a class="btn-gh" href="https://github.com/philippebeck/astronomy" rel="noreferrer noopener" target="_blank" title="Watch the Project">
                <i class="fab fa-github fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-pp" href="https://www.paypal.me/philippebeck" rel="noreferrer noopener" target="_blank" title="For Donation !">
                <i class="fab fa-paypal fa-2x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>
