<input id="foot-packages" class="foot-check1" name="packages" type="checkbox">
<input id="foot-websites" class="foot-check2" name="websites" type="checkbox">
<input id="foot-networks" class="foot-check3" name="networks" type="checkbox">

<footer class="foot">
    <ul class="foot-list">
        <li>
            <h3>
                <label for="foot-packages">Packages</label>
            </h3>
            <ul class="foot-goal1">
                <li>
                    <a href="https://www.npmjs.com/package/animadio" rel="noreferrer noopener" target="_blank">Animadio CSS</a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/animadio.js" rel="noreferrer noopener" target="_blank">Animadio JS</a>
                </li>
                <li>
                    <a href="https://packagist.org/packages/philippebeck/pam" rel="noreferrer noopener" target="_blank">Pam PHP</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>
                <label for="foot-websites">Websites</label>
            </h3>
            <ul class="foot-goal2">
                <li>
                    <a href="https://animadio.org" rel="noreferrer noopener" target="_blank">Animadio</a>
                </li>
                <li>
                    <a href="https://astronomy.philippebeck.net" rel="noreferrer noopener" target="_blank">Astronomy</a>
                </li>
                <li>
                    <a href="https://devagency.philippebeck.net" rel="noreferrer noopener" target="_blank">DevAgency</a>
                </li>
                <li>
                    <a href="https://pam.philippebeck.net" rel="noreferrer noopener" target="_blank">Pam</a>
                </li>
            </ul>
        </li>
        <li>
            <h3>
                <label for="foot-networks">Networks</label>
            </h3>
            <ul class="foot-goal3">
                <li>
                    <a href="https://codepen.io/philippebeck" rel="noreferrer noopener" target="_blank">CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/philippebeck" rel="noreferrer noopener" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/philippebeck/" rel="noreferrer noopener" target="_blank">LinkedIn</a>
                </li>

                <li>
                    <a href="https://twitter.com/philippepjbeck" rel="noreferrer noopener" target="_blank">Twitter</a>
                </li>
            </ul>
        </li>
    </ul>

    <figure class="foot-visual">
        <a href="https://www.tkqlhce.com/click-100172999-11973418">
            <img src="https://www.awltovhc.com/image-100172999-11973418" alt="Orion's Best Beginner Telescopes">
        </a>
    </figure>
</footer>
